.Favourite {
	background-color: #262626;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 4rem 2rem 2rem;
	margin-left: -1rem;
	margin-right: -1rem;
	color: #fff;
	z-index: 100;
}

.FavouriteSearchContainer {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.FavouriteInput {
	width: 80%;
	border: 1px solid #1d1d1d;
	background: #1f1f1f;
	font-size: 1.5rem;
	color: #fff;
	font-weight: 400;
}

.FavouriteLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #262626;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-top: 0;
	color: #fff;
}

.FavouriteLinks li {
	list-style: none;
}
.FavouriteLinks li a {
	list-style: none;
	padding: 1rem 2rem;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
	display: block;
	border-bottom: 2px solid #262626;
	transition: all 0.5s ease;
}

.FavouriteLinks li a.active,
.FavouriteLinks li a:active,
.FavouriteLinks li a:hover {
	color: #e2e2e2;
	border-bottom: #bc2e2e;
	transition: all 0.5s ease;
}

@media screen and (max-width: 479px) {
	.FavouriteLinks {
		position: fixed;
		bottom: 0;
		width: 100%;
		overflow: scroll;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.FavouriteLinks li a {
		border-bottom: none;
		border-top: 2px solid #262626;
		font-size: 1.3rem;
	}
	.FavouriteLinks li a.active,
	.FavouriteLinks li a:hover {
		border-top: 2px solid #bc2e2e;
		border-bottom: none;
	}
}

@media screen and (max-width: 991px) {
	.FavouriteLinks li a {
		font-size: 1.3rem;
	}
}
